html
{
	scroll-behavior: smooth;
}

body
{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	
}

header
{
	background: black;
	background-image: url("../images/circuitbg.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

nav
{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

section
{
	width: 100vw;
	height: 100vh;
	
}

img
{
	height: 250px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3
{
	font-family: 'Roboto Condensed', sans-serif;
}

h1
{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	font-size: 45px;
  
}

h2
{

	font-family: 'Roboto Condensed', sans-serif;
	font-style: bold;
	font-size: 30pt;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	text-decoration: underline;
	background: blue;
}

h3
{
	background: red;
	min-width: 260px;
	margin: 5px auto;
	font-style: bold;
	text-align: center;
	font-size: 20pt;
	
}

i
{
	display: block;
	padding: 20px 0;
	font-size: 50pt;

}

ul.navigation
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.navigation
{
	float: left;
}

li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover
{
	transition: 0.3s;
	color: #FF3100;
}

/* Create two unequal columns that floats next to each other */
.column {
  box-sizing: border-box;
  float: left;
  background: ;
  padding: 3vh;
		background: yellow;
}

.left {
  width: 40%;

}

.right {
  width: 60%;
	margin-bottom: 10vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) 
{
  .column 
	{
		width: 100%;
	}
}

.skills
{
	background: green;
}

.portfolio
{
	background: #F5F5F5;
}
.aboutme
{
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.2;
	font-size: 18px;
	background: ;
	min-width: 250px;
	overflow: auto;
	background: green;
}

.button
{
	display: block;
	max-width: 200px;
	margin: 0 auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	
	border-style: solid;
	border-width: 3px;
	
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.button:hover
{
	transition: 0.3s;
	background-color: black;
	color: white;
}



